﻿
@{
    ViewBag.Title = "AboutUA";
}

<h2>AboutUA</h2>

UA: @Request.UserAgent <br/>
Is Mobile Device: @Request.Browser.IsMobileDevice <br/>
Height: @Request.Browser.ScreenPixelsHeight
Width: @Request.Browser.ScreenPixelsWidth

